<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel App</title>
  </head>

  <body>
    <div id = "app">
      <div class ="">
        <h1>Travel Planner</h1>
      </div>

      <div id = "clientInput">
        <div class ="holder city">
          <label for="city">City to travel:</label>
          <input type="text" id="city" placeholder="City">
        </div>  
        <div class ="holder date">
          <label for="date">Departing date:</label>
          <input type="text" id="date" placeholder="mm/dd/yyyy">
        </div>
        <button id="generate" type = "submit"> Generate </button>
      </div>

      <div id ="output">
        <div id = "picture">
        </div>
        <div id ="result">
          <div class="resultLine" id = "destination"></div> 
          <div class="resultLine" id = "departingDate"></div>
          <div class = "buttons">
            <button id="saveTrip" type = "submit"> save trip </button>
            <button id="removeTrip" type = "submit"> remove trip </button>
          </div>
          <div class="resultLine" id = "toDate"></div>
          <div class="resultLine" id = "weather"></div>
          <div id = 'description></div>
        </div>
      </div>
    </div>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
     </script>

  </body>
</html>
