<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel App</title>
  </head>

  <body>
    <div id = "app">
      <div class ="">
        <h1>Travel Planner</h1>
      </div>

      <div id = "clientInput">
        <div class ="holder city">
          <label for="city">City to travel:</label>
          <input type="text" id="city" placeholder="City">
        </div>  
        <div class ="holder date">
          <label for="zip">Departing date:</label>
          <input type="text" id="date" placeholder="mm/dd/yyyy">
        </div>
        <button id="generate" type = "submit"> Generate </button>
      </div>

      <div id ="output">
        <div id = "picture">
          <img src ='' width = 300px heigt = 200px>
        </div>
        <div id ="result">
          <div class="resultLine" id = "destination"><h2>My trip to:</h2></div> 
          <div class="resultLine" id = "departingDate"><h2>Departing:</h2></div>
          <div class = "buttons">
            <button id="clearTrip" type = "submit"> clear trip </button>
          </div>
          <div class="resultLine" id = "toDate"></div>
          <div class="resultLine" id = "weather"></div>
          <div class="resultLine" id = "description"></div>
        </div>
      </div>
    </div>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
     </script>

  </body>
</html>
